<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<description>JMS(Trace Module) Config</description>

	<!-- Use Spring JmsTemplate Message producer -->
	<bean id="behaviorAndPerformanceMessageProducer" class="org.workin.trace.producer.BehaviorAndPerformanceProducer">
		<property name="jmsTemplate" ref="jmsTemplate" />
		<property name="notifyQueue" ref="notifyQueue" />
		<property name="notifyTopic" ref="notifyTopic" />
	</bean>

	<!-- Async Receive Queue Message Container -->
	<bean id="behaviorAndPerformanceQueueContainer" class="org.springframework.jms.listener.DefaultMessageListenerContainer">
		<property name="connectionFactory" ref="connectionFactory" />
		<property name="destination" ref="notifyQueue" />
		<property name="messageListener" ref="storeBehaviorAndPerformanceMessageListener" />
		<property name="concurrentConsumers" value="10" />
	</bean>
	
	<!-- Async Receive Topic Message Container -->
	<bean id="behaviorAndPerformanceTopicContainer" class="org.springframework.jms.listener.DefaultMessageListenerContainer">
		<property name="connectionFactory" ref="connectionFactory" />
		<property name="destination" ref="notifyTopic" />
		<property name="messageListener" ref="storeBehaviorAndPerformanceMessageListener" />
	</bean>
	
	<bean id="storeBehaviorAndPerformanceMessageListener" class="org.workin.trace.listener.StoreBehaviorAndPerformanceMessageListener" />
</beans>