<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<description>JMS(Notify Module) Config</description>
	
	<!-- Async Receive Queue Message Container -->
	<bean id="notifyQueueContainer" class="org.springframework.jms.listener.DefaultMessageListenerContainer">
		<property name="connectionFactory" ref="connectionFactory" />
		<property name="destination" ref="notifyQueue" />
		<property name="messageListener" ref="notifyMessageListener" />
		<property name="concurrentConsumers" value="10" />
	</bean>

	<!-- Async Receive Topic Message Container -->
	<bean id="notifyTopicContainer" class="org.springframework.jms.listener.DefaultMessageListenerContainer">
		<property name="connectionFactory" ref="connectionFactory" />
		<property name="destination" ref="notifyTopic" />
		<property name="messageListener" ref="notifyMessageListener" />
	</bean>
	
	<bean id="notifyMessageListener" class="org.springframework.jms.listener.adapter.MessageListenerAdapter">
		<constructor-arg ref="defauletMessageConsumer" />
		<property name="defaultListenerMethod" value="receiveMessage" />
		<property name="messageConverter" ref="messageConverterTemplate" />
	</bean>
</beans>