<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">
	
	<bean id="templetOfFeed" class="com.sun.syndication.feed.synd.SyndFeedImpl" >
		<property name="title" value="${rss.title}"/>
		<property name="feedType" value="${rss.feedType}"/>
		<property name="encoding" value="${rss.encoding}"/>
		<property name="link" value="${rss.link}"/>
		<property name="publishedDate">
			<ref bean="dateBean"/>  
        </property> 
	</bean>
	
	<bean id="rssBuilder" class="org.workin.rss.build.RomeBuilder">
		<property name="templetOfFeed" ref="templetOfFeed"/>
	</bean>
	
	<bean id="dateBean" class="java.util.Date"/>
</beans>
